@charset "utf-8";
/* CSS Document */

#divtablap{width:999px; height:200px; margin-left:10px; background-color:#3CF; border-top:ridge; border-right:dashed; border-left:double; border-bottom: solid; text-align:center;
-webkit-border-top-left-radius:29px;
-webkit-border-top-right-radius:31px;
-webkit-border-bottom-left-radius:33px;
-webkit-border-bottom-right-radius:33px; border:double 5px #17346e;} 

#divper{width:199px; margin:10px; height: 185px; background-color:#99F; float:left; text-align:center;}
#divdes{width:199px; margin:10px; height: 185px; background-color:#CCF; float:left; text-align:center; font-size:10px;}
#divpre{width:199px; margin:10px; height: 185px; background-color:#FFF; float:left; text-align:center; font-size:12px}



#divtablap2{width:1200px; height:200px; margin-left:10px; background-color:#F6F; border-top:ridge; border-right:dashed; border-left:double; border-bottom: solid; text-align:center;
-webkit-border-top-left-radius:29px;
-webkit-border-top-right-radius:31px;
-webkit-border-bottom-left-radius:33px;
-webkit-border-bottom-right-radius:33px; border:double 5px #17346e;}
#divper2{width:199px; margin:10px; height: 185px; background-color:#366; float:left; text-align:center;}
#divdes2{width:199px; margin:10px; height: 185px; background-color:#FCF; float:left; text-align:center; font-size:10px;}
#divpre2{width:199px; margin:10px; height: 185px; background-color:#6CF; float:left; text-align:center; font-size:12px}

#divtablap3{width:1200px; height:200px; margin-left:10px; background-color:#F9C; border-top:ridge; border-right:dashed; border-left:double; border-bottom: solid; text-align:center;
-webkit-border-top-left-radius:29px;
-webkit-border-top-right-radius:31px;
-webkit-border-bottom-left-radius:33px;
-webkit-border-bottom-right-radius:33px; border:double 5px #17346e;}
#divper3{width:199px; margin:10px; height: 185px; background-color:#9CF; float:left; text-align:center;}
#divdes3{width:199px; margin:10px; height: 185px; background-color:#C6C; float:left; text-align:center; font-size:10px;}
#divpre3{width:199px; margin:10px; height: 185px; background-color:#606; float:left; text-align:center; font-size:12px}

#divtablap4{width:1200px; height:200px; margin-left:10px; background-color:#600; border-top:ridge; border-right:dashed; border-left:double; border-bottom: solid; text-align:center;
-webkit-border-top-left-radius:29px;
-webkit-border-top-right-radius:31px;
-webkit-border-bottom-left-radius:33px;
-webkit-border-bottom-right-radius:33px; border:double 5px #17346e;}
#divper4{width:199px; margin:10px; height: 185px; background-color:#630; float:left; text-align:center;}
#divdes4{width:199px; margin:10px; height: 185px; background-color:#663; float:left; text-align:center; font-size:10px;}
#divpre4{width:199px; margin:10px; height: 185px; background-color:#636; float:left; text-align:center; font-size:12px}